@charset "utf-8";


/* Structure*/
* {
    box-sizing: border-box;
  }
html{
    background: red;
}
body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
    min-width: 640px;
    background: white;
}

body>article{
    width: 65%;
    
}
body>section{
    width: 
}

body > header {
    width: 100%;
    background: grey;
}

body > header > nav {
	display: table;
    width: 100%;
    background: blue;
}

body > header > nav > ul {
	display: table-row;
}

body > header > nav > ul > li {
	display: table-cell;
	text-align: center;
}

body > header > nav > ul > li > a {
	display: block;
	width: 100%;
}


body > nav {
	width: 25%;
	float: left;
}
